.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-17,
.col-18,
.col-19,
.col-20,
.col-21,
.col-22,
.col-23,
.col-24 {
  display: inline-block;
  margin: 0;
  line-height: inherit;
}

.position-middle {
  position: absolute;
}
.position-top {
  position: absolute;
  top: 0;
}
.position-bottom {
  position: absolute;
  bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-xs-1 {
    width: calc(100% / 24) !important;
  }
  .col-xs-2 {
    width: calc(100% / 12) !important;
  }
  .col-xs-3 {
    width: calc(100% / 24 * 3) !important;
  }
  .col-xs-4 {
    width: calc(100% / 6) !important;
  }
  .col-xs-5 {
    width: calc(100% / 24 * 5) !important;
  }
  .col-xs-6 {
    width: calc(100% / 4) !important;
  }
  .col-xs-7 {
    width: calc(100% / 24 * 7) !important;
  }
  .col-xs-8 {
    width: calc(100% / 3) !important;
  }
  .col-xs-9 {
    width: calc(100% / 24 * 9) !important;
  }
  .col-xs-10 {
    width: calc(100% / 12 * 5) !important;
  }
  .col-xs-11 {
    width: calc(100% / 24 * 11) !important;
  }
  .col-xs-12 {
    width: calc(100% / 2) !important;
  }
  .col-xs-13 {
    width: calc(100% / 24 * 13) !important;
  }
  .col-xs-14 {
    width: calc(100% / 12 * 7) !important;
  }
  .col-xs-15 {
    width: calc(100% / 24 * 15) !important;
  }
  .col-xs-16 {
    width: calc(100% / 6 * 4) !important;
  }
  .col-xs-17 {
    width: calc(100% / 24 * 17) !important;
  }
  .col-xs-18 {
    width: calc(100% / 4 * 3) !important;
  }
  .col-xs-19 {
    width: calc(100% / 24 * 19) !important;
  }
  .col-xs-20 {
    width: calc(100% / 6 * 5) !important;
  }
  .col-xs-21 {
    width: calc(100% / 24 * 21) !important;
  }
  .col-xs-22 {
    width: calc(100% / 12 * 11) !important;
  }
  .col-xs-23 {
    width: calc(100% / 24 * 23) !important;
  }
  .col-xs-24 {
    width: calc(100%) !important;
  }
  .col-xs-hidden {
    display: none !important;
  }
  .col-sm-down-hidden {
    display: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: calc(100% / 24) !important;
  }
  .col-sm-2 {
    width: calc(100% / 12) !important;
  }
  .col-sm-3 {
    width: calc(100% / 24 * 3) !important;
  }
  .col-sm-4 {
    width: calc(100% / 6) !important;
  }
  .col-sm-5 {
    width: calc(100% / 24 * 5) !important;
  }
  .col-sm-6 {
    width: calc(100% / 4) !important;
  }
  .col-sm-7 {
    width: calc(100% / 24 * 7) !important;
  }
  .col-sm-8 {
    width: calc(100% / 3) !important;
  }
  .col-sm-9 {
    width: calc(100% / 24 * 9) !important;
  }
  .col-sm-10 {
    width: calc(100% / 12 * 5) !important;
  }
  .col-sm-11 {
    width: calc(100% / 24 * 11) !important;
  }
  .col-sm-12 {
    width: calc(100% / 2) !important;
  }
  .col-sm-13 {
    width: calc(100% / 24 * 13) !important;
  }
  .col-sm-14 {
    width: calc(100% / 12 * 7) !important;
  }
  .col-sm-15 {
    width: calc(100% / 24 * 15) !important;
  }
  .col-sm-16 {
    width: calc(100% / 6 * 4) !important;
  }
  .col-sm-17 {
    width: calc(100% / 24 * 17) !important;
  }
  .col-sm-18 {
    width: calc(100% / 4 * 3) !important;
  }
  .col-sm-19 {
    width: calc(100% / 24 * 19) !important;
  }
  .col-sm-20 {
    width: calc(100% / 6 * 5) !important;
  }
  .col-sm-21 {
    width: calc(100% / 24 * 21) !important;
  }
  .col-sm-22 {
    width: calc(100% / 12 * 11) !important;
  }
  .col-sm-23 {
    width: calc(100% / 24 * 23) !important;
  }
  .col-sm-24 {
    width: calc(100%) !important;
  }
  .col-sm-hidden {
    display: none !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: calc(100% / 24) !important;
  }
  .col-md-2 {
    width: calc(100% / 12) !important;
  }
  .col-md-3 {
    width: calc(100% / 24 * 3) !important;
  }
  .col-md-4 {
    width: calc(100% / 6) !important;
  }
  .col-md-5 {
    width: calc(100% / 24 * 5) !important;
  }
  .col-md-6 {
    width: calc(100% / 4) !important;
  }
  .col-md-7 {
    width: calc(100% / 24 * 7) !important;
  }
  .col-md-8 {
    width: calc(100% / 3) !important;
  }
  .col-md-9 {
    width: calc(100% / 24 * 9) !important;
  }
  .col-md-10 {
    width: calc(100% / 12 * 5) !important;
  }
  .col-md-11 {
    width: calc(100% / 24 * 11) !important;
  }
  .col-md-12 {
    width: calc(100% / 2) !important;
  }
  .col-md-13 {
    width: calc(100% / 24 * 13) !important;
  }
  .col-md-14 {
    width: calc(100% / 12 * 7) !important;
  }
  .col-md-15 {
    width: calc(100% / 24 * 15) !important;
  }
  .col-md-16 {
    width: calc(100% / 6 * 4) !important;
  }
  .col-md-17 {
    width: calc(100% / 24 * 17) !important;
  }
  .col-md-18 {
    width: calc(100% / 4 * 3) !important;
  }
  .col-md-19 {
    width: calc(100% / 24 * 19) !important;
  }
  .col-md-20 {
    width: calc(100% / 6 * 5) !important;
  }
  .col-md-21 {
    width: calc(100% / 24 * 21) !important;
  }
  .col-md-22 {
    width: calc(100% / 12 * 11) !important;
  }
  .col-md-23 {
    width: calc(100% / 24 * 23) !important;
  }
  .col-md-24 {
    width: calc(100%) !important;
  }
  .col-md-hidden {
    display: none !important;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .col-md-down-hidden {
    display: none !important;
  }
}

/* Large devices (laptops/desktops, 1023px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: calc(100% / 24) !important;
  }
  .col-lg-2 {
    width: calc(100% / 12) !important;
  }
  .col-lg-3 {
    width: calc(100% / 24 * 3) !important;
  }
  .col-lg-4 {
    width: calc(100% / 6) !important;
  }
  .col-lg-5 {
    width: calc(100% / 24 * 5) !important;
  }
  .col-lg-6 {
    width: calc(100% / 4) !important;
  }
  .col-lg-7 {
    width: calc(100% / 24 * 7) !important;
  }
  .col-lg-8 {
    width: calc(100% / 3) !important;
  }
  .col-lg-9 {
    width: calc(100% / 24 * 9) !important;
  }
  .col-lg-10 {
    width: calc(100% / 12 * 5) !important;
  }
  .col-lg-11 {
    width: calc(100% / 24 * 11) !important;
  }
  .col-lg-12 {
    width: calc(100% / 2) !important;
  }
  .col-lg-13 {
    width: calc(100% / 24 * 13) !important;
  }
  .col-lg-14 {
    width: calc(100% / 12 * 7) !important;
  }
  .col-lg-15 {
    width: calc(100% / 24 * 15) !important;
  }
  .col-lg-16 {
    width: calc(100% / 6 * 4) !important;
  }
  .col-lg-17 {
    width: calc(100% / 24 * 17) !important;
  }
  .col-lg-18 {
    width: calc(100% / 4 * 3) !important;
  }
  .col-lg-19 {
    width: calc(100% / 24 * 19) !important;
  }
  .col-lg-20 {
    width: calc(100% / 6 * 5) !important;
  }
  .col-lg-21 {
    width: calc(100% / 24 * 21) !important;
  }
  .col-lg-22 {
    width: calc(100% / 12 * 11) !important;
  }
  .col-lg-23 {
    width: calc(100% / 24 * 23) !important;
  }
  .col-lg-24 {
    width: calc(100%) !important;
  }
  .col-lg-hidden {
    display: none !important;
  }
}
/* Large devices (laptops/desktops, 1023px and down) */
@media only screen and (max-width: 992px) {
  .col-lg-down-hidden {
    display: none !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: calc(100% / 24) !important;
  }
  .col-xl-2 {
    width: calc(100% / 12) !important;
  }
  .col-xl-3 {
    width: calc(100% / 24 * 3) !important;
  }
  .col-xl-4 {
    width: calc(100% / 6) !important;
  }
  .col-xl-5 {
    width: calc(100% / 24 * 5) !important;
  }
  .col-xl-6 {
    width: calc(100% / 4) !important;
  }
  .col-xl-7 {
    width: calc(100% / 24 * 7) !important;
  }
  .col-xl-8 {
    width: calc(100% / 3) !important;
  }
  .col-xl-9 {
    width: calc(100% / 24 * 9) !important;
  }
  .col-xl-10 {
    width: calc(100% / 12 * 5) !important;
  }
  .col-xl-11 {
    width: calc(100% / 24 * 11) !important;
  }
  .col-xl-12 {
    width: calc(100% / 2) !important;
  }
  .col-xl-13 {
    width: calc(100% / 24 * 13) !important;
  }
  .col-xl-14 {
    width: calc(100% / 12 * 7) !important;
  }
  .col-xl-15 {
    width: calc(100% / 24 * 15) !important;
  }
  .col-xl-16 {
    width: calc(100% / 6 * 4) !important;
  }
  .col-xl-17 {
    width: calc(100% / 24 * 17) !important;
  }
  .col-xl-18 {
    width: calc(100% / 4 * 3) !important;
  }
  .col-xl-19 {
    width: calc(100% / 24 * 19) !important;
  }
  .col-xl-20 {
    width: calc(100% / 6 * 5) !important;
  }
  .col-xl-21 {
    width: calc(100% / 24 * 21) !important;
  }
  .col-xl-22 {
    width: calc(100% / 12 * 11) !important;
  }
  .col-xl-23 {
    width: calc(100% / 24 * 23) !important;
  }
  .col-xl-24 {
    width: calc(100%) !important;
  }
  .col-xl-hidden {
    display: none !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  .col-xl-down-hidden {
    display: none !important;
  }
}

.col-1 {
  width: calc(100% / 24);
}
.col-2 {
  width: calc(100% / 12);
}
.col-3 {
  width: calc(100% / 24 * 3);
}
.col-4 {
  width: calc(100% / 6);
}
.col-5 {
  width: calc(100% / 24 * 5);
}
.col-6 {
  width: calc(100% / 4);
}
.col-7 {
  width: calc(100% / 24 * 7);
}
.col-8 {
  width: calc(100% / 3);
}
.col-9 {
  width: calc(100% / 24 * 9);
}
.col-10 {
  width: calc(100% / 12 * 5);
}
.col-11 {
  width: calc(100% / 24 * 11);
}
.col-12 {
  width: calc(100% / 2);
}
.col-13 {
  width: calc(100% / 24 * 13);
}
.col-14 {
  width: calc(100% / 12 * 7);
}
.col-15 {
  width: calc(100% / 24 * 15);
}
.col-16 {
  width: calc(100% / 6 * 4);
}
.col-17 {
  width: calc(100% / 24 * 17);
}
.col-18 {
  width: calc(100% / 4 * 3);
}
.col-19 {
  width: calc(100% / 24 * 19);
}
.col-20 {
  width: calc(100% / 6 * 5);
}
.col-21 {
  width: calc(100% / 24 * 21);
}
.col-22 {
  width: calc(100% / 12 * 11);
}
.col-23 {
  width: calc(100% / 24 * 23);
}
.col-24 {
  width: calc(100%);
}
.col-hidden {
  display: none;
}
