.sidebar-header-wrapper {
  /* width: 60px;
  height: 440px; */
  z-index: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: #323232;
  padding: 10px 0;
}

ul li a .link {
  padding: 8px;
}

.person-icon {
  width: 25px;
  padding: 4px 0;
}

ul li a {
  position: relative;
}

ul li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: -moz-radial-gradient(
    right,
    ellipse cover,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
  background: -webkit-radial-gradient(
    right,
    ellipse cover,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 70%
  );
  background: radial-gradient(
    ellipse at right,
    rgba(197, 202, 213, 0.7) 0,
    rgba(255, 255, 255, 0) 90%
  );
}
