@import "@fontsource/poppins";

body {
  font-family: Poppins;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(109, 109, 109, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.custom-container-head {
  height: 480px;
  position: absolute;
  top: 84px;
  left: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.custom-container-profile {
  position: absolute;
  height: 88vh;
  top: 70px;
  left: 194px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.custom-container-page {
  position: absolute;
  top: 84px;
  left: 686px;
  width: 51%;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.teest {
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition: 2s;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.card-inner.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 9;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 450ms linear 250ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

.modal {
  max-width: 400px;
  min-height: 200px;
  padding: 10px;
  background-color: whitesmoke;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -250px;
  transition: top 0.5s ease-out;
  z-index: 1;
}
.modal-header {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}
.btn-box {
  text-align: center;
}
button {
  padding: 10px;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .head-responsive {
    flex-direction: column;
    align-items: center;
  }

  .custom-container-responsive {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .custom-container-page {
    position: initial;
    width: 62% !important;
  }
  .custom-container-profile {
    position: initial;

    justify-content: center;
    display: flex;
  }

  .custom-container-head {
    top: 1px;
  }
}

@media screen and (max-width: 1390px) {
  .custom-container-page {
    width: 46%;
  }
}

@media screen and (max-width: 1042px) {
  .custom-container-head {
    left: 50px;
  }
}

@media screen and (max-width: 992px) {
  .custom-container-page {
    width: 72% !important;
  }
  .custom-container-head {
    left: 18px !important;
  }
}

@media screen and (max-width: 786px) {
  .custom-container-head {
    height: 100%;
    position: initial;
  }

  .custom-container-head-wrapper {
    width: 100%;
  }

  .custom-container-page {
    width: 100% !important;
  }
}

@media screen and (max-width: 664px) {
  .custom-container-page {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .custom-container-profile {
    height: 94vh;
  }
}
