@import "@fontsource/poppins";

body {
  font-family: Poppins;
}

.custom-container-head {
  height: 480px;
  position: absolute;
  top: 84px;
  left: 200px;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.custom-container-profile {
  position: absolute;
  top: 70px;
  left: 294px;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.custom-container-page {
  position: absolute;
  top: 84px;
  right: 52px;
}
