/* .page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  z-index: 1000;
}

.centrize {
  display: table !important;
  table-layout: fixed !important;
  height: 100% !important;
  position: relative !important;
}

.vertical-center {
  vertical-align: middle !important;
}

.vertical-bottom,
.vertical-center,
.vertical-top {
  display: table-cell !important;
}

.preloader .spinner {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
  background: #0856c1;
}

.background.gradient {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #48b1bf 0%, #0856c1 100%);
  background: linear-gradient(to bottom right, #48b1bf 0%, #0856c1 100%);
}

.background.gradient,
.bg-bubbles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(120, 204, 109, 0.4);
}
.bg-bubbles {
  position: absolute;
}

ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

li,
ol,
ol ol,
ol ul,
ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.1);
  bottom: -320px;
  -webkit-animation: 50s infinite square;
  animation: 50s infinite square;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
}

.bg-bubbles li:first-child {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 34s;
  animation-duration: 34s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 120px;
  height: 120px;
  -webkit-animation-duration: 44s;
  animation-duration: 44s;
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 240px;
  height: 240px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 320px;
  height: 320px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 320px;
  height: 320px;
  -webkit-animation-delay: 22s;
  animation-delay: 22s;
} */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.container-fluid {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
}
/* ============= Animation background ========= */
.background {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #48b1bf 0%, #0856c1 100%);
  background: linear-gradient(to bottom right, #48b1bf 0%, #0856c1 100%);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}
.cube {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 12s ease-in forwards infinite;
}
.cube:nth-child(2n) {
  border-color: #fff;
}
.cube:nth-child(2) {
  animation-delay: 2s;
  left: 25vw;
  top: 40vh;
}
.cube:nth-child(3) {
  animation-delay: 4s;
  left: 75vw;
  top: 50vh;
}
.cube:nth-child(4) {
  animation-delay: 6s;
  left: 90vw;
  top: 10vh;
}
.cube:nth-child(5) {
  animation-delay: 8s;
  left: 10vw;
  top: 85vh;
}
.cube:nth-child(6) {
  animation-delay: 10s;
  left: 50vw;
  top: 10vh;
}
/* ================= Header ============ */
header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* navbar */
nav {
  color: #fff;
  float: right;
  margin: 30px 90px;
}
nav ul {
  list-style: none;
}
nav ul li {
  float: left;
  transition: 0.3s;
}
nav ul li a {
  text-decoration: none;
  color: #efeef5;
  transition: 0.5;
  font-size: 15px;
  margin-left: 16px;
}
nav ul li:hover a {
  text-decoration: none;
  color: #591bc5;
}
nav ul li:hover {
  height: 45px;
  padding-top: 30px;
  margin-top: -30px;
  background: #efeef5;
  text-decoration: none;
  transform: skew(15deg);
}
/* Logo */
.logo {
  width: 35px;
  height: 35px;
  background: #efeef5;
  margin: 40px 63px;
  float: left;
  transform: rotate(-30deg);
}
.logo span {
  color: #591bc5;
  font-size: 2em;
  line-height: 1.4;
  padding-left: 5px;
  font-weight: bold;
}
/* Header content & title & button*/
.header-content {
  margin-top: 25%;
  text-align: center;
  color: #efeef5;
}
.header-content h1 {
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 1px;
}
.header-content p {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px auto;
}
.header-content button {
  width: 140px;
  margin: 20px 10px;
  color: #591bc5;
  font-size: 17px;
  /* border:1px solid #EFEEF5; */
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 500;
  /* background: #EFEEF5; */
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.header-content button:hover {
  border-radius: 0;
}
/* Animate Background*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .background {
    height: 100%;
  }
}
